{{!-- See bootstrap navs (can someone configure this thanks!) --}}
<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://104.236.196.104:3000/">Zephyr</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <li><a href="https://github.com/fivehourshower/Zephyr">GitHub</a></li>

            <li><a href="https://github.com/EsriCanada-CE/ecce-app-challenge-2015">ECCE App Challenge 2015</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contributors<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">

                <li><a href="https://github.com/megawac">Graeme Yeates</a></li>
                <li><a href="https://github.com/JaydeepMistry">Jaydeep Mistry</a></li>
                <li><a href="https://github.com/ThorHammerz">Sam Siu</a></li>

              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{!-- right items --}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
